@model IEnumerable<TrackBug.Models.ViewModels.ProjectCardVM>
@{
    ViewData["Title"] = "My Projects";
    
}
@*<h1>My Projects</h1>
<hr />*@
<div class="container p-3 ">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">My Projects:</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary rounded" asp-area="Employee" asp-controller="Project" asp-action="Upsert"><i class="bi bi-plus-circle"></i> &nbsp; Create New Project</a>

        </div>
    </div>
    <hr />

    <div class="row pb-3">
        @foreach (var projectCard in Model)
        {

            <div class="col-lg-3 col-md-6">
                <div class="row p-2">
                    <div class="col-12 p-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@projectCard.Project.Title</h5>
                                @if (projectCard.Project.ShortDescription == null)
                                {
                                    <br />
                                }
                                <p class="card-text">@projectCard.Project.ShortDescription</p>
                                <h6 class="card-subtitle mb-2 text-muted">Members: <span class="badge bg-secondary">@projectCard.NumMembers</span></h6>
                                <h6 class="card-subtitle mb-2 text-muted">Open tickets: <span class="badge bg-secondary">@projectCard.NumOpenTickets</span></h6>
                                <a asp-area="Employee" asp-controller="Project" asp-action="Details" class="btn btn-primary rounded form-control" asp-route-id="@projectCard.Project.Id">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
